---
import { getSession } from "auth-astro/server";

import LoginButton from "@/components/buttons/LoginButton.astro";
import LogoutButton from "@/components/buttons/LogoutButton.astro";
import { H1 } from "@/components/typography";
import { UploadForm } from "@/components/UploadForm";
import Layout from "@/layouts/Layout.astro";
import { flex } from "@/styled-system/patterns";

const session = await getSession(Astro.request);
---

<Layout title="Upload Files" maxW="4xl">
  {
    session?.user?.email === import.meta.env.AUTH_EMAIL ? (
      <>
        <div class={flex({ justifyContent: "space-between", mb: 12 })}>
          <H1>Upload Files</H1>
          <LogoutButton>Sign Out</LogoutButton>
        </div>
        <UploadForm client:load />
      </>
    ) : (
      <>
        <H1>Fuck off :)</H1>
        <LoginButton>Sign In</LoginButton>
      </>
    )
  }
</Layout>
