---
import { H1 } from "@/components/typography";
import { UploadForm } from "@/components/UploadForm";
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Upload Files" maxW="4xl">
  <H1>Upload Files</H1>
  <UploadForm client:load />
</Layout>
