---
import Layout from "@/layouts/Layout.astro";
import { Search } from "@/components/Search";
import { getSketchSlugs } from "@/utils/getSketchUrls";
import { H1 } from "@/components/typography";

export const prerender = true;

const list = await getSketchSlugs(`${process.cwd()}/src/pages/genuary/2024`);

const { pathname: path } = Astro.url;
---

<script>
  import { animate, spring } from "motion";

  animate(
    ".heading",
    {
      opacity: [0, 1],
      x: [-100, 0],
    },
    {
      duration: 0.3,
      easing: spring(),
    },
  );
</script>

<Layout class="max-w-2xl">
  <H1 class="heading opacity-0">Genuary 2024</H1>
  <Search {path} {list} />
</Layout>
