---
import type { HTMLAttributes } from 'astro/types'

import { cx } from '@/styled-system/css'
import { heading } from '@/styled-system/recipes'

type Props = HTMLAttributes<'h1'>

const { class: c, ...rest } = Astro.props
---

<h1 class={cx(heading({ size: '2xl' }), c)} {...rest}>
  <slot />
</h1>
