---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"h1">;

const { class: c, ...rest } = Astro.props;
---

<h1
  class:list={[
    "font-heading pb-3 text-4xl font-bold leading-[1.2] lg:text-5xl lg:leading-[1]",
    c,
  ]}
  {...rest}
>
  <slot />
</h1>
