---
import type { HTMLAttributes } from 'astro/types'

import { cx } from '@/styled-system/css'
import { heading } from '@/styled-system/recipes'

type Props = HTMLAttributes<'h2'>

const { class: c, ...rest } = Astro.props
---

<h2 class={cx(heading({ size: 'lg' }), c)} {...rest}>
  <slot />
</h2>
