---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"li">;

const { class: c, ...rest } = Astro.props;
---

<li class:list={["list-inside last:pb-6", c]} {...rest}>
  <slot />
</li>
