---
import type { HTMLAttributes } from 'astro/types'
import { css, cx } from 'styled-system/css'

type Props = HTMLAttributes<'li'>

const { class: c, ...rest } = Astro.props
---

<li
  class={cx(
    css({
      listStyle: 'inside',
      _last: {
        pb: 6
      }
    }),
    c
  )}
  {...rest}
>
  <slot />
</li>
