---
import { Image } from "astro:assets";
import { getEntry } from "astro:content";

import headshot from "@/assets/images/headshot.jpg";
import { Github, Linkedin, Mail, Threads } from "@/components/icons";
import { H1, H2 } from "@/components/typography";
import Layout from "@/layouts/Layout.astro";

export const prerender = true;

const { data } = await getEntry("resume-data", "i");
const { email, socials } = data;
---

<script>
  import { animate, spring, stagger } from "motion";

  animate(
    ".headshot",
    {
      opacity: [0, 1],
      y: [100, 0],
    },
    {
      duration: 0.3,
      easing: spring(),
    },
  );

  animate(
    ".text",
    {
      opacity: [0, 1],
      x: [-100, 0],
    },
    {
      duration: 0.3,
      delay: stagger(0.2, { start: 0.2 }),
      easing: spring(),
    },
  );
</script>

<Layout title="Home" class="max-w-4xl">
  <div
    class="flex flex-col gap-10 pt-4 md:flex-row md:justify-center md:gap-6 md:pt-10"
  >
    <Image
      src={headshot}
      alt="Bald guy in front of his bookshelf."
      quality="low"
      width={1200}
      class="headshot md:max-h-auto z-1 max-h-[55vh] flex-1 rounded-3xl object-cover opacity-0 shadow-lg sm:max-h-[70vh] md:max-w-[50%]"
    />
    <div class="flex flex-col gap-8 text-center md:gap-2">
      <div class="text flex flex-1 flex-col items-center opacity-0">
        <H1 class="pb-2">
          Hi there! <span class="text-red-300">I'm Xan.</span>
        </H1>
        <p class="max-w-[52ch]">
          <a href="/sketches">a generative artist</a>, frontend developer,
          <a href="/open-source">OSS maintainer</a>, and tummy ache survivor.
        </p>
      </div>
      <div
        class="text flex flex-1 flex-col items-center gap-0 opacity-0 md:gap-2"
      >
        <H2>If you want to get in touch</H2>
        <div class="flex gap-2">
          <a href={socials["github"].url}>
            <Github client:load />
          </a>
          <a href={socials["threads"].url}>
            <Threads client:load />
          </a>
          <a href={socials["linkedin"].url}>
            <Linkedin client:load />
          </a>
          <a href={`mailto:${email}`}>
            <Mail client:load />
          </a>
        </div>
      </div>
    </div>
  </div>
</Layout>
