---
import { Image } from "astro:assets";
import { getEntry } from "astro:content";

import headshot from "@/assets/images/headshot.jpg";
import { Github, Linkedin, Mail, Threads } from "@/components/icons";
import { H1, H2 } from "@/components/typography";
import Layout from "@/layouts/Layout.astro";
import { css, cx } from "@/styled-system/css";
import { flex } from "@/styled-system/patterns";

export const prerender = true;

const { data } = await getEntry("resume-data", "i");
const { email, socials } = data;
---

<script>
  import { animate, spring, stagger } from "motion";

  animate(
    ".headshot",
    {
      opacity: [0, 1],
      y: [100, 0],
    },
    {
      duration: 0.3,
      easing: spring(),
    },
  );

  animate(
    ".text",
    {
      opacity: [0, 1],
      x: [-100, 0],
    },
    {
      duration: 0.3,
      delay: stagger(0.2, { start: 0.2 }),
      easing: spring(),
    },
  );
</script>

<Layout title="Home" maxW="4xl">
  <div
    class={flex({
      flexDirection: { base: "column", md: "row" },
      gap: { base: 10, md: 6 },
      justifyContent: { md: "center" },
      pt: { base: 4, md: 10 },
    })}
  >
    <Image
      src={headshot}
      alt="Bald guy in front of his bookshelf."
      quality="low"
      width={1200}
      class={cx(
        css({
          borderRadius: "3xl",
          flex: 1,
          maxH: { base: "55vh", md: "auto", sm: "70vh" },
          maxW: { md: "50%" },
          objectFit: "cover",
          shadow: "lg",
          zIndex: 1,
        }),
        "headshot",
      )}
    />
    <div
      class={flex({
        flexDir: "column",
        gap: { base: 8, md: 2 },
        textAlign: "center",
      })}
    >
      <div
        class={cx(
          flex({
            alignItems: "center",
            flex: 1,
            flexDirection: "column",
          }),
          "text",
        )}
      >
        <H1 class={css({ pb: 2 })}>
          Hi there! <span class={css({ color: "red.300" })}>I'm Xan.</span>
        </H1>
        <p
          class={css({
            maxW: "52ch",
          })}
        >
          <a href="/sketches">a generative artist</a>, frontend developer,
          <a href="/open-source">OSS maintainer</a>, and tummy ache survivor.
        </p>
      </div>
      <div
        class={cx(
          flex({
            alignItems: "center",
            flex: 1,
            flexDir: "column",
            gap: { base: 0, md: 2 },
          }),
          "text",
        )}
      >
        <H2>If you want to get in touch</H2>
        <div class={flex({ gap: 2 })}>
          <a href={socials["github"].url}>
            <Github client:load />
          </a>
          <a href={socials["threads"].url}>
            <Threads client:load />
          </a>
          <a href={socials["linkedin"].url}>
            <Linkedin client:load />
          </a>
          <a href={`mailto:${email}`}>
            <Mail client:load />
          </a>
        </div>
      </div>
    </div>
  </div>
</Layout>
