---
import { getCollection } from "astro:content";

import OSSCard from "@/components/OSSCard.astro";
import { H1 } from "@/components/typography";
import Layout from "@/layouts/Layout.astro";

const ossProjects = await getCollection("open-source");
---

<script>
  import { animate, stagger, spring } from "motion";

  animate(
    ".card",
    {
      opacity: [0, 1],
      y: [100, 0],
    },
    {
      easing: spring(),
      delay: stagger(0.1),
    },
  );
</script>

<Layout title="Open Source" class="max-w-4xl">
  <H1 class="pb-8">Open Source Projects</H1>
  <div class="flex flex-wrap gap-4 md:gap-8">
    {
      ossProjects.map(({ data: { name, description, href } }, i) => (
        <OSSCard
          name={name}
          description={description}
          href={href}
          class="card opacity-0"
        />
      ))
    }
  </div>
</Layout>
