---
import { Logo } from "@/components/icons";
import { Mobile } from "@/components/Navbar/Mobile";
import { routes } from "@/routes";

import { ThemeToggleButton } from "../buttons/ThemeToggleButton";
import { MobileLinks } from "./MobileLinks";

const { pathname } = Astro.url;
---

<script>
  import { animate } from "motion";
  import { isNavOpen } from "@/stores/navbar";

  isNavOpen.subscribe((open) => {
    if (open) {
      animate(
        ".mobile-nav",
        { maxHeight: ["40px", "358px"] },
        { duration: 0.5, easing: "ease-out" },
      );
    }
  });
</script>

<div
  class="dark:background-gray-900 light:background-gray-50 z-3 h-auto py-4 shadow-md"
>
  <nav
    class="container mx-auto hidden items-center justify-between px-6 md:flex"
  >
    <a href="/" class="!bg-none">
      <Logo class="h-10 w-10" client:load />
    </a>
    <div class="flex gap-10">
      <ul class="flex items-center gap-4">
        {
          routes.map(({ path, name }) => (
            <li>
              <a
                href={path}
                aria-current={pathname === path ? "page" : "false"}
              >
                {name}
              </a>
            </li>
          ))
        }
      </ul>
      <ThemeToggleButton client:load />
    </div>
  </nav>
  <nav
    class="mobile-nav container mx-auto block overflow-hidden px-6 md:hidden"
  >
    <div class="flex items-center justify-between">
      <a href="/" class="!bg-none">
        <Logo class="h-10 w-10" client:load />
      </a>
      <div class="flex gap-4">
        <ThemeToggleButton client:load />
        <Mobile client:load />
      </div>
    </div>
    <MobileLinks {pathname} client:load />
  </nav>
</div>
