---
import { css } from 'styled-system/css'
import { container } from 'styled-system/patterns'

import { Logo } from '@/components/Icons'
import { Mobile } from '@/components/Navbar/Mobile'
import { routes } from '@/routes'
import { MobileLinks } from './MobileLinks'
---

<div
  class={css({
    py: 4,
    height: 'auto',
    boxShadow: 'md',
    zIndex: 3
  })}
>
  <nav
    class={container({
      display: { base: 'none', md: 'flex' },
      justifyContent: 'space-between',
      alignItems: 'center'
    })}
  >
    <a href='/' class={css({ background: 'none' })}>
      <Logo class={css({ w: 10, h: 10 })} client:load />
    </a>
    <ul
      class={css({
        display: 'flex',
        gap: 2
      })}
    >
      {
        routes.map(({ path, name }) => (
          <li>
            <a href={path}>{name}</a>
          </li>
        ))
      }
    </ul>
  </nav>
  <nav
    class={container({
      display: { base: 'block', md: 'none' }
    })}
  >
    <div
      class={css({
        display: 'flex',
        justifyContent: 'space-between',
        alignItems: 'center'
      })}
    >
      <a href='/' class={css({ background: 'none' })}>
        <Logo class={css({ w: 10, h: 10 })} client:load />
      </a>
      <Mobile client:load />
    </div>
    <MobileLinks client:load />
  </nav>
</div>
