---
import { Logo } from "@/components/icons";
import { Mobile } from "@/components/Navbar/Mobile";
import { routes } from "@/routes";
import { css } from "@/styled-system/css";
import { container } from "@/styled-system/patterns";

import { ThemeToggleButton } from "../buttons/ThemeToggleButton";
import { MobileLinks } from "./MobileLinks";

const { pathname } = Astro.url;
---

<div
  class={css({
    boxShadow: "md",
    height: "auto",
    py: 4,
    zIndex: 3,
    _dark: {
      background: "gray.900",
    },
    _light: {
      background: "gray.50",
    },
  })}
>
  <nav
    class={container({
      alignItems: "center",
      display: { base: "none", md: "flex" },
      justifyContent: "space-between",
    })}
  >
    <a href="/" class={css({ background: "none" })}>
      <Logo class={css({ h: 10, w: 10 })} client:load />
    </a>
    <div class={css({ display: "flex", gap: 10 })}>
      <ul
        class={css({
          alignItems: "center",
          display: "flex",
          gap: 4,
        })}
      >
        {
          routes.map(({ path, name }) => (
            <li>
              <a
                href={path}
                aria-current={pathname === path ? "page" : "false"}
                class={css({
                  _currentPage: {
                    _dark: {
                      bg: "linear-gradient(to top, var(--colors-red-600) 0% 50%, transparent 50% 100%)",
                    },
                    _light: {
                      bg: "linear-gradient(to top, var(--colors-red-400) 0% 50%, transparent 50% 100%)",
                    },
                  },
                })}
              >
                {name}
              </a>
            </li>
          ))
        }
      </ul>
      <ThemeToggleButton client:load />
    </div>
  </nav>
  <nav
    class={container({
      display: { base: "block", md: "none" },
    })}
  >
    <div
      class={css({
        alignItems: "center",
        display: "flex",
        justifyContent: "space-between",
      })}
    >
      <a href="/" class={css({ background: "none" })}>
        <Logo class={css({ h: 10, w: 10 })} client:load />
      </a>
      <div class={css({ display: "flex", gap: 4 })}>
        <ThemeToggleButton client:load />
        <Mobile client:load />
      </div>
    </div>
    <MobileLinks {pathname} client:load />
  </nav>
</div>
