---
import type { HTMLAttributes } from "astro/types";

import { Github } from "@/components/icons";
import { H2 } from "@/components/typography";

interface Props extends HTMLAttributes<"a"> {
  description?: string;
  name: string;
}

const { name, description, class: c, ...rest } = Astro.props;
---

<a
  class:list={[
    "flex max-w-[275px] flex-col justify-between rounded-lg border-1 border-black !bg-none p-4 dark:border-gray-50 dark:hover:border-red-400 dark:hover:text-red-400",
    c,
  ]}
  {...rest}
>
  <div class="flex-1">
    <H2 class="pb-2">
      {name}
    </H2>
    {description && <p>{description}</p>}
  </div>
  <div>
    <hr class="my-4 border-1 border-red-400" />
  </div>
  <div class="flex items-center justify-between">
    <span class="flex-1">
      Check it out
      <br />
      on GitHub
    </span>
    <Github class="h-6 w-6" client:load />
  </div>
</a>
