---
import { Github } from "@/components/icons";
import { H2 } from "@/components/typography";
import { css } from "@/styled-system/css";

interface Props {
  name: string;
  description?: string;
  href: URL | string;
}

const { name, description, href } = Astro.props;
---

<a
  {href}
  class={css({
    display: "flex",
    background: "transparent",
    flexDirection: "column",
    justifyContent: "space-between",
    maxWidth: "275px",
    p: 4,
    borderWidth: 1,
    borderRadius: 8,
    borderColor: "black",
    _hover: {
      color: "red.400",
      borderColor: "red.400",
    },
  })}
>
  <div class={css({ flex: 1 })}>
    <H2 class={css({ pb: 2 })}>
      {name}
    </H2>
    {description && <p>{description}</p>}
  </div>
  <div>
    <hr class={css({ my: 4, borderColor: "red.400", borderWidth: 1 })} />
  </div>
  <div
    class={css({
      display: "flex",
      justifyContent: "space-between",
      alignItems: "center",
    })}
  >
    <span class={css({ flex: 1 })}>
      Check it out
      <br />
       on GitHub
    </span>
    <Github class={css({ w: 6, h: 6 })} client:load />
  </div>
</a>
