---
import type { HTMLAttributes } from "astro/types";

import { Github } from "@/components/icons";
import { H2 } from "@/components/typography";
import { css, cx } from "@/styled-system/css";

interface Props extends HTMLAttributes<"a"> {
  description?: string;
  name: string;
}

const { name, description, class: c, ...rest } = Astro.props;
---

<a
  class={cx(
    css({
      _hover: {
        borderColor: "red.400",
        color: "red.400",
      },
      background: "transparent",
      borderColor: "black",
      borderRadius: 8,
      borderWidth: 1,
      display: "flex",
      flexDirection: "column",
      justifyContent: "space-between",
      maxWidth: "275px",
      p: 4,
    }),
    c,
  )}
  {...rest}
>
  <div class={css({ flex: 1 })}>
    <H2 class={css({ pb: 2 })}>
      {name}
    </H2>
    {description && <p>{description}</p>}
  </div>
  <div>
    <hr class={css({ borderColor: "red.400", borderWidth: 1, my: 4 })} />
  </div>
  <div
    class={css({
      alignItems: "center",
      display: "flex",
      justifyContent: "space-between",
    })}
  >
    <span class={css({ flex: 1 })}>
      Check it out
      <br />
       on GitHub
    </span>
    <Github class={css({ h: 6, w: 6 })} client:load />
  </div>
</a>
