---
import { css } from "@/styled-system/css";
---

<div
  class={css({
    alignItems: "center",
    display: "flex",
    flex: 1,
    justifyContent: "center",
  })}
>
  <div
    id="container"
    class={css({
      boxShadow: "1px 3px 6px -1px rgba(0, 0, 0, 0.5)",
      display: "flex",
    })}
  >
  </div>
</div>
