---
import { css } from 'styled-system/css'

import { H1 } from '@/components/Typography'
import { Search } from '@/components/Search'
import Layout from '@/layouts/Layout.astro'
import { getSketchSlugs } from '@/utils/getSketchUrls'

export const prerender = true

const list = await getSketchSlugs()
const { pathname: path } = Astro.url
---

<Layout title='Sketches' maxW='2xl'>
  <H1 class={css({ pb: 4 })}>Search Sketches</H1>
  <Search {path} {list} client:load />
</Layout>
