---
import Layout from "@/layouts/Layout.astro";
import { css } from "@/styled-system/css";
import type { PropertyTypes } from "@/styled-system/types/prop-type";
import type { defineCollection } from "astro:content";

interface Props {
  description?: string;
  maxW?: PropertyTypes["maxW"];
  title?: string;
}

const props = Astro.props;
---

<Layout {...props}>
  <div
    id="lights"
    class={css({
      position: "absolute",
      textAlign: "center",
      whiteSpace: "nowrap",
      width: "100vw",
      top: -80,
      _light: {
        borderBottom: "3px solid gray.800",
      },
      _dark: {
        borderBottom: "3px solid gray.200",
      },
    })}
  >
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </div>
  <slot />
</Layout>
