---
import "@fontsource/dm-mono/400.css";
import "@fontsource/dm-serif-text/400.css";
import "@/styles/global.css";

import Footer from "@/components/Footer.astro";
import Head from "@/components/Head.astro";
import Navbar from "@/components/Navbar/index.astro";

interface Props {
  description?: string;
  class?: string;
  title?: string;
}

const { title, description, class: c } = Astro.props;
---

<html lang="en">
  <Head {title} {description}>
    <slot name="head" />
  </Head>
  <body class="font-body flex min-h-screen w-full flex-col">
    <Navbar />
    <main
      class:list={[
        "container max-w-8xl mx-auto flex w-full flex-1 flex-col py-4 px-6 md:py-6",
        c,
      ]}
    >
      <slot />
    </main>
    <Footer />
  </body>
</html>
