---
import "@fontsource/dm-mono/400.css";
import "@fontsource/dm-serif-text/400.css";

import Footer from "@/components/Footer.astro";
import Head from "@/components/Head.astro";
import Navbar from "@/components/Navbar/index.astro";
import { css } from "@/styled-system/css";
import { container } from "@/styled-system/patterns";
import type { PropertyTypes } from "@/styled-system/types/prop-type";

interface Props {
  description?: string;
  maxW?: PropertyTypes["maxW"];
  title?: string;
}

const { title, description, maxW } = Astro.props;
---

<html lang="en">
  <Head {title} {description}>
    <slot name="head" />
  </Head>
  <body
    class={css({
      display: "flex",
      flexDir: "column",
      minH: "100vh",
      textStyle: "body",
      w: "100%",
    })}
  >
    <Navbar />
    <main
      class={container({
        display: "flex",
        flex: 1,
        flexDir: "column",
        maxW: maxW ?? "8xl",
        py: { base: 4, md: 6 },
        w: "100%",
      })}
    >
      <slot />
    </main>
    <Footer />
  </body>
</html>
