---
import "@fontsource/dm-mono/400.css";
import "@fontsource/dm-serif-text/400.css";

import Head from "@/components/Head.astro";
import { css } from "@/styled-system/css";
import { container } from "@/styled-system/patterns";
import type { PropertyTypes } from "@/styled-system/types/prop-type";

interface Props {
  description?: string;
  maxW?: PropertyTypes["maxW"];
  title?: string;
}

const { title, description, maxW } = Astro.props;
---

<script>
  import { isDark } from "@/stores/styles";
  isDark.subscribe(() => {
    document
      .querySelector("[data-color-mode]")
      ?.setAttribute(
        "data-color-mode",
        isDark.get() == "light" ? "light" : "dark",
      );
  });
</script>

<html lang="en">
  <Head {title} {description} />
  <body
    class={css({
      bg: "gray.50",
      display: "flex",
      flexDir: "column",
      minH: "100vh",
      textStyle: "body",
      w: "100%",
    })}
  >
    <main
      class={container({
        display: "flex",
        flex: 1,
        flexDir: "column",
        maxW: maxW ?? "8xl",
        py: { base: 4, md: 6 },
        w: "100%",
      })}
    >
      <slot />
    </main>
  </body>
</html>
