---
import H1 from '@/components/Headings/H1.astro';
import { components } from '@/components/MDXComponents';
import Layout from '@/layouts/Layout.astro';
import type { GetStaticPaths } from 'astro';
import { CollectionEntry, getCollection } from 'astro:content';
import { flex } from 'styled-system/patterns';
import '@/styles/prism-theme.css';
import H2 from '@/components/Headings/H2.astro';
import { css } from 'styled-system/css';

export const prerender = true;

export const getStaticPaths: GetStaticPaths = async () => {
  const writing = await getCollection('writing');

  return writing.map(entry => {
    return {
      params: {
        slug: entry.slug,
      },
      props: {
        entry,
      },
    };
  });
};

interface Props {
  entry: CollectionEntry<'writing'>;
}

const { entry } = Astro.props;
const { data, render } = entry;
const { Content } = await render();
const { title, date } = data;
const dateFormatted = new Intl.DateTimeFormat('en-US', {
  dateStyle: 'long',
}).format(new Date(date));
---

<Layout title={title}>
  <div class={flex({ direction: 'column', gap: 4 })}>
    <H1>{title}</H1>
    <H2 class={css({ fontSize: 'md' })}>{dateFormatted}</H2>
    <Content components={components} />
  </div>
</Layout>
