---
import { getSession } from "auth-astro/server";

import LoginButton from "@/components/buttons/LoginButton.astro";
import LogoutButton from "@/components/buttons/LogoutButton.astro";
import { H1, H2 } from "@/components/typography";
import Layout from "@/layouts/Layout.astro";

const session = await getSession(Astro.request);
---

<Layout title={`Admin ${session ? "Dashboard" : "Login"}`} class="max-w-4xl">
  {
    session?.user?.email === import.meta.env.AUTH_EMAIL ? (
      <>
        <div class="flex justify-between">
          <H1>Welcome</H1>
          <LogoutButton>Sign Out</LogoutButton>
        </div>
        <H2>Navigate</H2>
        <ul class="flex list-disc flex-col">
          <li>
            <a href="/admin/blob/list">Blob List</a>
          </li>
          <li>
            <a href="/admin/blob/upload">Upload</a>
          </li>
        </ul>
      </>
    ) : (
      <LoginButton>Sign In</LoginButton>
    )
  }
</Layout>
