@layer base {
  :root {
    --made-with-panda: '🐼';
    }

  *, *::before, *::after, ::backdrop {
    --blur:   ;
    --brightness:   ;
    --contrast:   ;
    --grayscale:   ;
    --hue-rotate:   ;
    --invert:   ;
    --saturate:   ;
    --sepia:   ;
    --drop-shadow:   ;
    --backdrop-blur:   ;
    --backdrop-brightness:   ;
    --backdrop-contrast:   ;
    --backdrop-grayscale:   ;
    --backdrop-hue-rotate:   ;
    --backdrop-invert:   ;
    --backdrop-opacity:   ;
    --backdrop-saturate:   ;
    --backdrop-sepia:   ;
    --scroll-snap-strictness: proximity;
    --border-spacing-x: 0;
    --border-spacing-y: 0;
    --translate-x: 0;
    --translate-y: 0;
    --rotate: 0;
    --skew-x: 0;
    --skew-y: 0;
    --scale-x: 1;
    --scale-y: 1;
    }

  html, body {
    font-family: DM Mono, monospace;
    background: var(--colors-gray-50);
    }

  html a, body a {
    background: linear-gradient(to top, var(--colors-red-100) 0% 50%, transparent 50% 100%);
    }

  h1, h2, h3, h4, h5, h6 {
    font-family: Inter, sans-serif;
    }

  html a:where(:hover, [data-hover]), body a:where(:hover, [data-hover]) {
    background: linear-gradient(to top, var(--colors-red-200) 0% 50%, transparent 50% 100%);
    text-decoration: none;
    }
}